.blog{
    background-color: blanchedalmond;
    box-shadow: 50px 10px 10px rgb(191, 50, 50);
}
.header{
    height: 200px;
/* background-color: aqua; */
    text-align: center;
    text-decoration: dotted;
    color: rgb(226, 43, 89);
     background-image: url('../Saver0.jpg'); 
     background-position: 0%;
    background-blend-mode: multiply;
    background-repeat:no-repeat ;
    background-size:100%;
    background-position: top ;

